// Customizations Here (Optional)

// Bulma Import
@import "~bulma";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@import "./animations.scss";

.page-wrapper {
  max-height: calc(100svh - 124px);
  overflow: hidden;
}

.empty-p {
  min-height: 1.5em;
}

.hover-scale {
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}

.cover {
  background-position: center;
  background-size: cover;
}
